.error {
    grid-column: 1 / -1;
    margin: 0;
    padding: 20px;
    font: 600 18px/1.4 'Open Sans', sans-serif;
    color: var(--text-color);
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
}

.error__additional-text {
    margin: 10px 0 0;
    font: normal 14px/1.4 'Open Sans', sans-serif;
}
