.ticket {
    margin: 0 0 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.ticket:last-of-type {
    margin: 0;
}

.ticket__price {
    margin: 0;
    font: 600 24px/1 'Open Sans', sans-serif;
    color: var(--primal-blue);
}

.ticket__logo {
    width: 110px;
    height: auto;
    max-height: 36px;
}

.ticket__details-heading {
    font: 600 12px/18px 'Open Sans', sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #a0b0b9;
}

.ticket__details-value {
    margin: 0;
    font: 600 14px/21px 'Open Sans', sans-serif;
    color: var(--text-color);
}

/* Grid magic */
.ticket {
    display: grid;
    grid-template-columns: 1fr 1fr 140px;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
}

/* Pretending there's no such div to not break our grid */
.ticket__segment {
    display: contents;
}

.ticket__price {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.ticket__logo {
    grid-row: 1 / 2;
}

.ticket__logo,
.ticket__layouts {
    grid-column: 3 / -1;
}

.ticket__way {
    grid-column: 1 / 2;
}
.ticket__travel {
    grid-column: 2 / 3;
}

