html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  background: #f3f7fa;
}

.app {
  display: grid;
  margin: 0 auto;
  width: 754px;
  height: 100%;
  grid-template-areas: "header header"
                       "layovers tickets-wrap";
  grid-template-rows: 160px minmax(min-content, max-content);
  grid-template-columns: 1fr minmax(502px, 2fr);
  grid-gap: 0 20px;
}

.header {
  grid-area: header;
}

.layovers {
  grid-area: layovers;
}

.tickets {
  grid-area: tickets-wrap;
}
